header {
  padding-block: 32px;
  font: var(--text-md);
 
}  

header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}

#profile {
  display: flex;
  gap: 16px;
}
#profile > div {
  width: 384px;
  
}

#profile h1 {
  font: var(--text-lg);
  color: var(--text-color-primary);
  margin-bottom: 8px;
}



#profile img {
 width: 176px;
 height: 176px;
 object-fit: cover;
 border-radius: 50%;
  
}

#info {
  list-style: none;
 

  display: flex;
  gap: 16px;
  flex-direction: column;

  width: 280px;
  
}

#info li {
  display: flex;
  gap: 8px;
  align-items: center;
}

